
{% extends "base.twig" %}

{% block content  %}
    <h1>Home Page</h1>   

    <img src="images/guitare.jpg" alt="Photo Guitare">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae enim sunt fugit atque accusamus blanditiis, ut laboriosam reiciendis quas. Unde similique aut nesciunt veniam? Optio voluptate dicta sit distinctio accusamus.
        Voluptatibus quasi eaque cumque libero? Quibusdam vitae atque beatae, non velit consectetur odit, molestiae aut minima maxime, numquam nobis? Veritatis reprehenderit rem impedit perferendis eum, veniam hic voluptatum sapiente! Error?
        Quidem sunt earum perferendis autem a sequi nulla quaerat obcaecati? Fuga unde quo molestias exercitationem. Voluptate nemo asperiores maxime reprehenderit velit distinctio temporibus! Itaque nihil reiciendis eos. Est, quod modi!
        Corrupti ab, debitis dolorem earum odit cupiditate autem harum odio nam suscipit. Porro maxime, voluptatibus amet, quaerat molestias autem delectus eaque commodi vel quibusdam ipsam sequi praesentium illum voluptatem distinctio?
        Est quos earum facilis, adipisci, cumque veritatis provident harum ab eius accusamus officia porro voluptates excepturi perferendis dolorem, repudiandae nesciunt laboriosam dolore dignissimos? Soluta officiis itaque tempora molestiae deserunt quibusdam?
    </p>

{% endblock content  %}

{% extends "base.twig" %}
